<!DOCTYPE html>
<html>
<head>
  <title>Bookstore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="nav">
  <a href="">Login</a>
  <a href="">Logout</a>
</div>

<!-- This is where our views get placed -->
         <%= yield %>
<!-- ---------------------------------- -->

<div class="footer">
  <a href="">Contact us</a>
  <a href="">Subscribe</a>
</div>

</body>
</html>
